# Google Analytics - Public
NEXT_PUBLIC_GA_ID=seu_google_analytics_4_id

# Discord Webhook para notificação de leads - SENSÍVEL (nunca compartilhe)
NEXT_PUBLIC_DISCORD_WEBHOOK=seu_discord_webhook_url

# Informações de Contato - Public
NEXT_PUBLIC_WHATSAPP=5551992682717
NEXT_PUBLIC_EMAIL=seu@email.com
